@import "../../../styles/constants";


.reverse-button{
  background: radial-gradient(circle, #d9e2e8 100%, #c0cad0 100%);
  border-radius: 11px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: $smallShadow;
  font-size: 25px;
  color: $black;
  margin: auto;
  &:active{
    background: radial-gradient(circle, #d9e2e8 40%, #c0cad0 100%);
    font-size: 24px;
  }
}

.wbw-button{
  background-color: $lightTeal;
  height: 60px;
  width: 200px;
  border-radius: 11px;
  position: relative;
  cursor: pointer;
  box-shadow: $smallShadow;
  transition: ease-in-out .3s;
  .button-text{
    z-index: 50;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-weight: bold;
      font-size: 25px;
      font-family: 'Oswald', sans-serif;;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .wbw-button-bg{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    .wbw-button-bg-chevron{
      transition: ease-in-out .5s;
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 15;
      &.teal{
        background-color: $teal;
      }
      &.yellow{
        background-color: $yellow;
      }
      &.red{
        background-color: $red;
      }
    }
  }
  &:hover{
    .teal{
      left: 0;
      right: 25%;
    }
    .yellow{
      left: 20%;
      right: 10%;
    }
    .red{
      left: 30%;
      right: 0%;
    }
  }

  &:not(:hover){
    .teal{
      left: 0;
      right: 25%;
    }
    .yellow{
      left: 10%;
      right: 15%;
    }
    .red{
      left: 20%;
      right: 5%;
    }
  }
  &:active{
    box-shadow: $shadow;
    .wbw-button-bg-chevron{
      clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
      border-radius: 11px;
    }
    .teal{
      border-radius: 11px;
      left: 0;
      right: 1%;
    }
  }
  &:not(:active){
    .wbw-button-bg-chevron{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    .teal{
      border-radius: 11px 0 0 11px;
    }
  }
}
