@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

$red: #da4167;
$yellow: #f5cb5c;
$black: #333533;
$lightTeal: #8bbeb2;
$teal: #38e4ae;
$grey: #D9E2E8;

$shadow: 5px 5px 15px -2px rgba(58, 57, 57, 0.89);
$smallShadow: 2px 2px 8px -2px rgba(58, 57, 57, 0.89);
