@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&display=swap');

$red: #da4167;
$yellow: #f5cb5c;
$black: #333533;
$lightTeal: #8bbeb2;
$teal: #38e4ae;
$grey: #D9E2E8;
$darkGrey: #91989b;
$white: rgba(252, 252, 253, 0.87);

$shadow: 5px 5px 15px -2px rgba(58, 57, 57, 0.89);
$smallShadow: 2px 2px 8px -2px rgba(58, 57, 57, 0.89);

h1,h2,h3,h4{
  font-family: 'Oswald', sans-serif;
}

p, span, div{
  font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: 10px;
  box-shadow: $smallShadow;
}
