@import "../../../styles/constants";

#welcomeCard {
  width: 80vw;
  max-width: 1500px;
  height: 400px;
  margin: 60px auto;
  border-radius: 11px;
  background-color: $lightTeal;
  position: relative;
  box-shadow: $shadow;

  .welcome-card-text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40%;
    left: 5%;
    color: black;
    z-index: 10;

    #hello-container {
      height: 150px;
      //overflow: hidden;
      width: 100%;

      h3 {
        position: absolute;
        transition: opacity .6s;
        font-size: 96px;
        color: $red;
        margin: 0;
        animation: fadeIn 5s;

        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
          10% {
            opacity: 100%;
          }
          90% {
            opacity: 100%;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    p {
      color: white;
    }
  }
}

#homepageMap {
  width: 80vw;
  max-width: 1500px;

  h3 {
    font-size: 36px;
  }

}
