@import "../../../../../styles/constants";

.skipFinder {
  background-color: $white;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: .2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.open {
    height: 100px;
  }

  > div {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .type-icons {
      width: 35%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        display: flex;
        align-items: center;
        justify-items: center;
        font-size: 40px;
        background-color: $red;
        transition: all .3s;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: mix($red, $lightTeal, 95%);
          box-shadow: $shadow;
        }

        &:active {
          background: radial-gradient(circle, $yellow 0%, $red 73%);
          box-shadow: $shadow;
        }

        &.active {
          box-shadow: $smallShadow;
          padding: 7px;
        }

        &.inactive {
          background-color: $darkGrey
        }
      }
    }

    .go-button-wrapper {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .input-wrapper {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }


}