@import "../../../styles/constants";

#routeFinderMap{
  width: 90vw;
  max-width: 1500px;
  height: 400px;
  margin: 60px auto;
  border-radius: 11px;
  position: relative;
  h3{
    font-size: 30px;
  }
  .route-preview{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    overflow-x: auto;
    padding: 0px 10px 0px 10px;
    .route-preview-item{
      height: 50px;
      background-color: $white;
      margin: 5px;
      padding-left: 1%;
      border-radius: 5px;
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 140px;
      box-shadow: $smallShadow;
      i{
        font-size: 30px;
      }
      &.preview-origin i{
        color: $teal
      }
      &.preview-stop i{
        color: $yellow
      }
      &.preview-destination i{
        color: $red
      }
      h4{
        width: 100%;
        padding: 0 5px 0 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .route-transit{
        margin: 20px 5px 20px 5px;
        font-size: 35px;
      .icofont-double-right{
        color: $lightTeal;
        font-size: 30px;
      }
    }
  }
}
